:root {
    --color-primary: #122AB2;
    --color-secondary: #FFF;
    --color-tertiary: #2C70FF;
    --color-quaternary: #222222;
    --color-quinary: #7c7c7c;
    --color-senary: #A4A4A4;
    --color-septenary: #F7F7F7; 
    --color-octonary: #AE81FF;
    --color-nonary: #F9265E;
    --color-denary: #66D9EB;
}