.botao-grande {
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-size: var(--font-big);
    font-weight: bold;
    text-transform: uppercase;
    border: 0px;
    background: var(--color-tertiary);
    color: var(--color-secondary);
    cursor: pointer;
}