.info-bg {
    background: var(--color-primary);
    color: var(--color-secondary);
}

.info {
    max-width: var(--gap-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: var(--gap-small);
}

.info > a, .info p {
    color: var(--color-secondary);
    margin: 0 var(--gap-small) var(--gap-small) var(--gap-small);
}